### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/hs_err_pid13216.log
/hs_err_pid19260.log
/options.txt
/optionsof.txt
/optionsshaders.txt
/servers.dat
/servers.dat_old
/usercache.json
/shaderpacks/
/saves/
/resourcepacks/
/logs/
/crash-reports/
/assets/